<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Sample App</h1>

  <h2>
    test
  </h2>

  <%= link_to "Sign up for customer", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up for driver", signup_for_drivers_path, class: "btn btn-lg btn-primary" %>
</div>

